@page "/disappointment"

<div class="valentine-container">
    <h2>💔 Es triste saber que no siempre podrías estar a mi lado. 💔</h2>
    <p>A veces, las respuestas difíciles son necesarias, pero eso no quita el dolor. Cuida de ti mismo y de los que amas.</p>
</div>

<style>
    .valentine-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #ffe3ed;
        font-family: 'Marck Script', cursive;
        color: #ff477e;
        text-align: center;
        padding: 20px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    p {
        margin-top: 20px;
        font-size: 1.2rem;
    }
</style>
